<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.bytebeats.pluginify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".PluginApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityResultAPIActivity" />
        <activity android:name=".OnActivityResultActivity" />
        <activity android:name=".util.StandardStubActivity" />
        <activity android:name=".util.SingleTopStubActivity" />
        <activity android:name=".util.SingleTaskStubActivity" />
        <activity android:name=".util.SingleInstanceStubActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity activity:name="me.bytebeats.pluginify.util.StubActivity"/>
    </application>

</manifest>